{% extends "base.html" %}

{% block title %}
Advocate Registration
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <form method="POST" action="{% url 'advocate_view' %}" style="width: 300px;"> 
    {% csrf_token %}
    <h1 class="text-center">Advocate Registration</h1>
    
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    </button>
    </div>
{% endfor %}
    
    <div class="mb-3">
      <label for="username" class="form-label">First Name</label>
      <input type="text" class="form-control" id="username" name="Fname" required>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="username" name="Lname" required>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="pass1" required>
    </div>
    
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="pass2" required>
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    
            <div>
            <h5>Already have an account? <a href="/advocate_signin">Login</a></h5>
        </div>
  </form>
</div>
{% endblock %}
